<div class="container">
  <div class="login">
    <form [formGroup]="LoginForm" (ngSubmit)="submit()">
      <div class="heading">
        <h2>Login</h2>
      </div>
      <div>
        <label><b>Email</b></label>
        <input type="email" formControlName="email" placeholder="Enter your email" class="input-box">
      </div>
      <div *ngIf="email?.touched && email?.invalid" class="error">
        <small *ngIf="email?.errors?.['required']">Email is required</small>
        <small *ngIf="email?.errors?.['email']">Invalid email format</small>
      </div>
      <br>
      <div>
        <label><b>Password</b></label>
        <input type="password" formControlName="password" placeholder="Enter your password" class="input-box">
      </div>
      <div *ngIf="password?.touched && password?.invalid" class="error">
        <small *ngIf="password?.errors?.['required']">Password is required</small>
        <small *ngIf="password?.errors?.['minlength']">Minimum 1 character</small>
      </div>
      <br>
      
      <div class="button">
        <button type="submit" class="button">Login</button>
      </div>
    </form>
  </div>
</div>

