.container{
    position: fixed;
    background: rgba(55, 55, 155, 0.2);
    background-image: url('C:\ifelse\demoproject\src\assets\Screenshot 2025-11-26 123005.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    height: 40vh;
    width: 25vw;
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255,1.0 )
}
.heading{
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items:center;
    color: rgba(55, 55, 55,1.0);


}

.input-box{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
    font-style:normal;
    box-sizing: border-box;
}
.button{
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 7px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        box-sizing: border-box;
        background: rgba(150, 55, 160);
            

}